examples/n8n-memory-claw-memory-test.json
{
  "name": "MemoryClaw Memory Test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message: {{ $json.body.message }}\nuserId: {{ $json.body.userId ?? 'default' }}",
        "options": {
          "systemMessage": "You are a personal assistant with access to the user's persistent memory.\n\nWhen the user shares information about themselves (name, work, preferences, projects):\n  1. Use memory_add to save that information automatically\n  2. Confirm what you saved\n\nWhen the user asks a question:\n  1. Use memory_search to find relevant information\n  2. Answer based on what you find in memory\n\nIf you don't find the information, say you don't have it in memory.\n\nALWAYS use the userId provided in each message when calling any memory tool.\nAlways respond in Portuguese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [448, -96],
      "id": "7a1ac88e-810a-409e-9f73-ee0a72a03eb2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [400, 96],
      "id": "86dbe47a-cefc-43be-b643-5185be0f2786",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "MemoryClaw memory tools. Use the userId provided in the user message.\n\nParameters for each tool:\n  - memory_search: {\"query\": \"string\", \"userId\": \"<userId from message>\"}\n  - memory_add:    {\"message\": \"string\", \"userId\": \"<userId from message>\"}\n  - memory_get:    {\"path\": \"string\", \"userId\": \"<userId from message>\"}\n  - memory_delete: {\"path\": \"string\", \"userId\": \"<userId from message>\"}\n\nAlways read the userId from the message context and pass it to every tool call.",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', 'Name of the MCP tool: memory_search, memory_add, memory_get, or memory_delete') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', 'JSON object with tool parameters. Use the userId from the message. Example: {\"query\": \"...\", \"userId\": \"user_123\"}') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [608, 96],
      "id": "970cf30b-d441-46d2-a0ed-153c2868f2bc",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teste",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [160, -96],
      "id": "53c2dfee-2cf5-4ac1-9e7a-3f71b3f1ffcf",
      "name": "Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [864, -96],
      "id": "10cbfeac-9b9b-4e5a-9d55-47789161437b",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "MCP Client": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
