examples/n8n-memoryclaw-memory-test.json
{
  "name": "MemoryClaw Memory Test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": " Você é um assistente pessoal com acesso à memória do usuário Tiago.\n\n  Quando o usuário compartilhar informações sobre si mesmo (nome,\n  trabalho, preferências, projetos):\n    1. Use memory_add para salvar automaticamente essas informações\n    2. Confirme que salvou\n\n  Quando o usuário fizer uma pergunta:\n    1. Use memory_search para buscar informações relevantes\n    2. Responda com base no que encontrar na memória\n\n  Se não encontrar informações, diga que não tem essa informação na\n  memória.\n\n  userId padrão: tiago_123\n  Responda sempre em Português de forma clara e objetiva."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [448, -96],
      "id": "7a1ac88e-810a-409e-9f73-ee0a72a03eb2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [400, 96],
      "id": "86dbe47a-cefc-43be-b643-5185be0f2786",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "MemoryClaw memory tools. Parameters for each tool:\n  - memory_search: {\"query\": \"string\", \"userId\": \"tiago_123\"}\n  - memory_add: {\"message\": \"string\", \"userId\": \"tiago_123\"}\n  - memory_get: {\"path\": \"string\", \"userId\": \"tiago_123\"}\n  - memory_delete: {\"path\": \"string\", \"userId\": \"tiago_123\"}\n  Always use userId: tiago_123.",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', 'Name of the MCP tool: memory_search, memory_add, memory_get, or memory_delete') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', 'JSON string with tool parameters. Always include userId: tiago_123') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [608, 96],
      "id": "970cf30b-d441-46d2-a0ed-153c2868f2bc",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teste",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [160, -96],
      "id": "53c2dfee-2cf5-4ac1-9e7a-3f71b3f1ffcf",
      "name": "Webhook",
      "webhookId": "795406c1-ecfa-49b0-bcd4-cf6c8b9f059d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [864, -96],
      "id": "10cbfeac-9b9b-4e5a-9d55-47789161437b",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "MCP Client": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
